{% block content %}

<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
  <h1>hola</h1>

  <form action="{% url "osnc_app" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image_file">
    <input type="submit" value="submit" />
  </form>

  {% if image_url %}
    <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
  {% endif %}
</body>
{% endblock %}