*.pyc
*.log
webui/*.crt
webui/*.csr
webui/*.key
webui/static/api/*.js
webui/static/api/*.txt
webui/static/api/*.css
webserver.cer
webserver.key
certs/*.pem
assets/sqlite.db
assets/auth_switches.py
auth.py
*.DS_Store
.idea
console-commands.py
*.svg
*.pickle
*.csv
*.png
*.crt
*.key
.vscode/*
api/templates/*
api/doctrees/*
api/coverage/*
api_results.txt
*.idea
acitools/aci-meta.json
docker-compose.override.yml
assets/data.sqlite3
*.xlsx
*.bin
